body {
    font-family: 'Roboto', sans-serif; /*Google Fonts*/
}

/* Alert Styles*/

/* alert container expanded to full wdth of page */


.alert-container .col-xs-12 {
	/*alert container margins and container width targeted*/
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
	/*alert colour, height & edges targetted*/
    color: #544600;
    background-color: #eec802;
    border-color: #eec802;
    padding: 5px 15px; 
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 0;
}


/*/.alert styles*/

/*Nav Styles*/
/* Navbar */

/*Navbar positioned absolutely - changed to place it ontop and infront of the Callout element
  while also removing the margin*/
.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; /*Z-index used to bring it to front after positioning it absolutely*/
	background-color: transparent; /*Navbar background set to transparent to ensure whiskey image is uninterupted*/
    border: 0;
}


/*Increased specificity to override the default bootstrap styles*/
/* Altering bootstrap default hamburger nav dropdown for mobile experience */
.navbar-default .navbar-collapse {
    border-color: transparent
}

.navbar-default .navbar-toggle {
    border: 0;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar .navbar-brand {
    font-weight: bold;
    color: white;
}

.navbar .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-nav a {
    font-weight: bold;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background: transparent;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}



/* modify style of navbar signup button changes background to orange and rounds edges of button */
.navbar-btn {
    border: 0;
    border-radius: 16px;
    width: 100px;
    background-color: #f05f40;
    color: white;
}
/*style hover action for navbar button*/
.navbar-btn:hover {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}
/*/.nav styles*/



/*Callout Styles*/

.callout-container {
    /* vh- is Viewport Height feature that allows you to stretch image to entire height of browser page*/
	
	height: 100vh;
	
	/*Whiskey image from the net with vendor specific tags*/
    background: url('../images/whiskey-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	
	/*Flexbox used for aligning text to center*/
	
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
	/* add opaque overlay to sit on top of background image using rgba colour to affect transparency  */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


/* Modify bootstrap default jumbotron style by increasing specificity */
/*Jumbotron*/


/*Jumbotron element background transparency*/
.jumbotron {
    background-color: transparent;
}

/*Jumbotron header text*/
.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}

/*Jumbotron lead text*/
.jumbotron .lead {
    color: #a7a7a7;
    margin: 25px 0;
}

/*Jumbotron footer text*/
.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}


/* Modify bootstrap default block divider elements*/
/* Block dividers */


.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--orange {
    background-color: #f05f40;
}

.block-divider--white {
    background-color: white;
}

.block-divider--short {
    width: 35px;
}


/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: #f05f40;
    border-color: #f05f40;
}

/*Pseudo element hover states modified*/

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}

/*/.callout styles*/


/* Quotes & Feature Content Styles*/


/*Containers*/



.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* container wrapper added to encircle content section and stretch to full width of page */

.container-wrapper {}

/* Additional container wrapper class added to modify colour of page width section */
.container-wrapper--red {
    background-color: #f05f40;
    color: white;
}




/* Page Headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

/* Quotes */

.quotes .page-header {
    margin-bottom: 25px;
}

blockquote.quote {
    border-left: 0;
}

/* Features */

.feature {
    text-align: center;
    margin-bottom: 40px;
}

/* assing box class to glyphicon allows them to be placed on separate line */
/* Note* the glyphicon is actually a font not an image so should be modified as such */
.feature .glyphicon {
    display: block;
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.feature .btn {
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #f05f40;
}

/*/.quotes & features content*/

